<div class="container">
    <div class="row centrar">
        <div class="col-4">
            <div class="mes">
                <div class="titulo">
                    <span>Libre</span>
                </div>
                <div class="pago">
                    <span class="sol"> $0 </span> <span>/ mes</span>
                </div>
                <div class="beneficio">
                    <span>10 usuarios incluidos</span><br>
                    <span>2 GB de almacenamiento</span><br>
                    <span>Soporte de correo Electronico</span><br>
                    <span>Acceso al centro de ayuda</span><br>
                </div>
                <div class="boton">
                    <button type="button" class="btn btn-outline-primary">Registrate gratis</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="mes">
                <div class="titulo">
                    <span>Pro</span>
                </div>
                <div class="pago">
                    <span class="sol"> $15 </span> <span>/ mes</span>
                </div>
                <div class="beneficio">
                    <span>20 usuarios incluidos</span><br>
                    <span>10 GB de almacenamiento</span><br>
                    <span>Soporte de correo Electronico</span><br>
                    <span>Acceso al centro de ayuda</span><br>
                </div>
                <div class="boton">
                    <button type="button" class="btn btn-outline-primary active">Emprezar</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="mes">
                <div class="titulo">
                    <span>Empresa</span>
                </div>
                <div class="pago">
                    <span class="sol"> $29 </span> <span>/ mes</span>
                </div>
                <div class="beneficio">
                    <span>30 usuarios incluidos</span><br>
                    <span>15 GB de almacenamiento</span><br>
                    <span>Soporte de correo Electronico</span><br>
                    <span>Acceso al centro de ayuda</span><br>
                </div>
                <div class="boton">
                    <button type="button" class="btn btn-outline-primary active">Contáctenos</button>
                </div>
            </div>
        </div>
    </div>
</div>